##Name=Dev Anand

##PRN=25070123039

##Batch=A2

#Practical-3:- Lists in Python: Indexing, Slicing, and List Methods

In [ ]:
## Python Lists
thislist = ["dev","apple","oreo"]
print(thislist)

['dev', 'apple', 'oreo']

In [ ]:
# List Items
# List items are ordered,changeable,and allow duplicate values.
# List items are indexed, the first item has index[0], the second item has inde[1] etc.
# Allow Duplicates
thislist = ["apple","banana","cherry","apple","cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# List length
thislist = ["apple","banana","cherry"]
print(len(thislist))

3

In [ ]:
# A list with strings,integers and boolean values:
list1 = ["abc",34,True,40,"male"]
print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
# Access Items
list1 = ["abc",34,True,40,"male"]
print(list1[0])
print(list1[2])

abc
True

In [ ]:
# Negative/reverse indexing
thislist = ["apple","banana","cherry"]
print(thislist[-1])#here this is revesrse indexing and directly we reach the the last item in this last is -1 than -2 than -3 and so on
print(thislist[-3])

cherry
apple

In [ ]:
#Slicing
thislist = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(thislist[2:5])# the syntax says 2 is inclusin-ve and visible in output and 5 is exclusive so uske ek pehele tak pas print hoga
print(thislist[:4])# is we
print(thislist[-3:])#empty means till the end and in revese we cant take 0 and if we take -1 it becomes exclusive so in order to proint last three we have to keep it empty
print(thislist[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['kiwi', 'melon', 'mango']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change item value
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrant"#replaceing of things in the original list
thislist[0]="watermelon"
print(thislist)

['watermelon', 'blackcurrant', 'cherry']

In [ ]:
# Append Items
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert Items
thislist = ["apple","banana","cherry"]
thislist.insert(2,"orange")# in append adds at last but here it is our choice
print(thislist)

['apple', 'banana', 'orange', 'cherry']

In [ ]:
# Extend List
thislist.extend(list1)#note here two lists are added to make one list also list1 was from before so it takes it from memory
print(thislist)

['apple', 'banana', 'orange', 'cherry', 'abc', 34, True, 40, 'male']

In [ ]:
8 in [3,4,5]

False

In [ ]:
#Repetition

list = ('-Symbi-')*6
list#note here print is not required to mention cause cause we are printing only one variable

'-Symbi--Symbi--Symbi--Symbi--Symbi--Symbi-'

In [ ]:
L = ['spam','Spam','SPAM']
print(L[0])

spam

In [ ]:
numbers = [10,20,30,40,50]
#Slicing examples
"Elements from index 1 to 3"
"First three elements:"
"Elements from index 2 onwards:"
"All elements:"

'All elements:'

In [ ]:
Student_marks = [78,85,90,66,88,56,67,89,44,35]
Maximum_marks = max(Student_marks)
Minimum_marks = min(Student_marks)
Total_sum = sum(Student_marks)
length = len(Student_marks)
sort_marks=Student_marks.sort()
print(Maximum_marks)
print(Minimum_marks)
print(Total_sum)
print(length)
print(Student_marks)

90
35
698
10
[35, 44, 56, 66, 67, 78, 85, 88, 89, 90]

'''2.Grocery Shopping List
A user maintains a grocery list for monthly shopping.
Tasks:
Create a grocery list

add new items to the list

Remove purchaced items

remove purchased items

display the final shopping list

Concepts used:append(),remove(),indexing'''

In [ ]:
grocery = ["milk","oil","bread","flour","butter"]
grocery.append("rice")
print(grocery)

['milk', 'oil', 'bread', 'flour', 'butter', 'rice']

In [ ]:
grocery = ["milk","oil","bread","flour","butter"]
grocery.remove("oil")
print(grocery)

['milk', 'bread', 'flour', 'butter']

In [ ]:
grocery = ["milk","oil","bread","flour","butter"]
grocery[1]="vegetables"
grocery[2]="almond"
print(grocery)

['milk', 'vegetables', 'almond', 'flour', 'butter']

In [ ]:
print(grocery)#final grocery list

['milk', 'vegetables', 'almond', 'flour', 'butter']

create a list of contacts and add and remove contacts from it

In [ ]:
contacts = ["Dev","Manas","Kirti","Ram","Akshu"]
contacts.append("Ayush")
contacts.remove("Akshu")
contacts[2]="Arnav"

print(contacts)

['Dev', 'Manas', 'Arnav', 'Ram', 'Ayush']

In [ ]:
contacts.sort()
print(contacts)

['Arnav', 'Ayush', 'Dev', 'Manas', 'Ram']

In [7]:
temp = [12,34,55,37,18,24,7,8,9,13]
print("highest in first five days:",max(temp[:6]))
print("lowest in first five days:",min(temp[:6]))
print("highest in next five days:",max(temp[5:11]))
print("lowest in next five days:",min(temp[5:11]))
print("all ten days temperatures:", temp )
totalsum = sum(temp )
print("average of all ten days temperature:",totalsum/len(temp))

highest in first five days: 55
lowest in first five days: 12
highest in next five days: 24
lowest in next five days: 7
all ten days temperatures: [12, 34, 55, 37, 18, 24, 7, 8, 9, 13]
average of all ten days temperature: 21.7